

.App-header {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  height: 50vh; /* Full viewport height */
  text-align: center; /* Center text */
  padding: 0 20px; /* Optional: adds padding for mobile responsiveness */
}

.icon-container {
  position: absolute; /* Remove from normal document flow */
  top: 10px; /* Distance from the top */
  left: 10px; /* Distance from the right */
  font-size: 24px; /* Adjust the size of the icon */
  color: #792a00; /* Set the icon color */
}

/* Header */
h1 {
  color: #00796B; /* Deep Teal */
  font-size: 2.5rem;
}

/* Paragraph */
p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Links */
a {
  color: #0288D1; /* Bright Blue */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #01579B; /* Darker Blue */
  text-decoration: underline;
}

/* Button */
button {
  background-color: #FFB74D; /* Soft Orange */
  color: #5D4037; /* Dark Brown */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #FF8A65; /* Slightly brighter orange */
}
